{% extends "index.html" %}
{% block content %}
<h2>Live Search in Flask with Ajax</h2>
<hr>
<div class="row">
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="col-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search USA States" onkeyup="liveSearch(this.value)">
            {{ form.states(class="form-control form-select") }}
            {{ form.territory(class="form-control form-select")}}
            {{ form.submit(class="btn btn-primary") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}