{% extends "layout.html" %}
{% block content %}

<div class="content-section py-3 my-3 p-3">
        
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-5">
            <div class="card bg-light" style="border-radius: 0.5rem;">
                <div class="row g-0">
                    <div class="d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">

                            <h3 class="px-4 py-3 text-center display-7 fw-bold border-bottom pb-4">Account Info</h3>

                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                <div class="row gx-4 gy-4">
                                    <div>
                                        {{ form.animal.label(class="form-label") }}
                                        {% if form.animal.errors %}
                                            {{ form.animal(class="form-control is-invalid", disabled=True) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.animal.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.animal(class="form-control", disabled=True) }}
                                        {% endif %}
                                    </div>
                                    <div>
                                        {{ form.email.label(class="form-label") }}
                                        {% if form.email.errors %}
                                            {{ form.email(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.email(class="form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <div class="mb-3 d-lg-flex justify-content-md-end">
                                            {{ form.submit(class="btn btn-primary") }}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}